body {
  width: 99vw;
  overflow-y: scroll;

  .create-date {
    justify-content: center;
    width: 99vw;


    .time-picker {
      margin: 0 auto;
      padding: 30px;
    }

    .picker {
      background-color: #e1cce6;
    }

    .component {
      margin: 0 auto;
      margin-bottom: 25px;
      background-color: #e1cce6;
      padding: 5px;
      width: 80dvw;
      border-radius: 12px;
      font-size: smaller;

      .add-button {
        background-color: #662d91;
      }

      .add-button:hover {
        background-color: #7b1fa2;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        overflow-x: auto;

        button {
          margin: 5px;
          color: white;
          background-color: #662d91;
          font-size: 12px;
        }

        button:hover {
          background-color: #7b1fa2;
        }
      }
    }
    .complete {
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
          margin: 5px;
          color: white;
          background-color: #662d91;
          font-size: 12px;
        }

        button:hover {
          background-color: #7b1fa2;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .create-date {
      justify-content: center;
      width: 99vw;

      .time-picker {
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 50%;
        border-radius: 12px;
        margin: 25px auto;
        padding: 40px;
      }

      .picker {
        background-color: #e1cce6;
      }

      .component {
        margin: 0 auto;
        margin-bottom: 55px;
        background-color: #e1cce6;
        padding: 10px;
        max-width: 45%;
        border-radius: 12px;

        .add-button {
          background-color: #662d91;
        }

        .add-button:hover {
          background-color: #7b1fa2;
        }

        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;

          button {
            margin: 8px;
            color: white;
            background-color: #662d91;
            font-size: 15px;
          }

          button:hover {
            background-color: #7b1fa2;
          }
        }
      }
      .complete {
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;

          button {
            margin: 8px;
            color: white;
            background-color: #662d91;
            font-size: 15px;
          }

          button:hover {
            background-color: #7b1fa2;
          }
        }
      }
    }
  }
}
