body {
  width: 100dvw;
  overflow: scroll;
  margin-bottom: 8rem;

  .create-date {
    justify-content: center;
    width: 100dvw;

    .date-time-pickers {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        margin: 0 auto;
        padding: 1rem;
        max-width: 60dvw;

        .time-picker {
          width: 100%;
          border-radius: 12px;
        }
        .city-picker {
          width: 100%;
          border-radius: 12px;
        }
        .picker {
        //   background-color: #e1cce6;
        //   width: 90%;
          #time-picker {
          font-weight: 500;
            font-family: "Quicksand", sans-serif;
          }

          #select-city {
              font-weight: 500;
              font-family: "Quicksand", sans-serif;
          }
          .select-required {
            background-color: #fff;
            // margin: 1rem;
          }
        }
      }

    .component {
      margin: 0 auto;
      margin-bottom: 25px;
      background-color: #e1cce6;
      padding: 5px;
      width: 95dvw;
      border-radius: 12px;
      font-size: smaller;

      .add-button {
        background-color: #662d91;
      }

      .add-button:hover {
        background-color: #7b1fa2;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        overflow-x: auto;

        button {
          font-family: "Quicksand", sans-serif;
          margin: 5px;
          color: white;
          background-color: #662d91;
          font-size: 12px;
        }

        button:hover {
          background-color: #7b1fa2;
        }
      }
    }
    .complete {
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
          margin: 5px;
          color: white;
          background-color: #662d91;
          font-size: 12px;
        }

        button:hover {
          background-color: #7b1fa2;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .create-date {
      justify-content: center;
      width: 100dvw;

      .date-time-pickers {
        display: flex;
        flex-direction: row;
        align-items: first baseline;
        justify-content: center;
        margin: 0 auto;
        width: 30dvw;

        .time-picker {
          width: 100%;
          border-radius: 12px;
          font-family: "Quicksand", sans-serif;

        }
        .city-picker {
          width: 100%;
          font-family: "Quicksand", sans-serif;
          border-radius: 12px;
        }
        .picker {
          #time-picker {
            font-weight: 500;
            font-family: "Quicksand", sans-serif;
          }
          #select-city {
            font-weight: 500;
            font-family: "Quicksand", sans-serif;
          }
        }
      }

      .component {
        margin: 0 auto;
        margin-bottom: 2.5rem;
        background-color: #e1cce6;
        padding: 10px;
        width: 60dvw;
        border-radius: 12px;

        .add-button {
          background-color: #662d91;
        }

        .add-button:hover {
          background-color: #7b1fa2;
        }

        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;

          button {
            margin: 8px;
            color: white;
            background-color: #662d91;
            font-size: 15px;
          }

          button:hover {
            background-color: #7b1fa2;
          }
        }
      }
      .complete {
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;

          button {
            margin: 8px;
            color: white;
            background-color: #662d91;
            font-size: 15px;
          }

          button:hover {
            background-color: #7b1fa2;
          }
        }
      }
    }
  }
}
