body {
  width: 99vw;
  overflow-y: scroll;

  .dashboard {
    max-width: 90vw;
    margin-top: 60px;
    margin-bottom: 20px;

    .tabs {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    .list {
      height: 50px;
      width: 95vw;
    }

    .panel {
      width: 90vw;

      h2.date-title {
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin: 10px;
      }

      h4.date-title {
        color: white;
        font-size: 15px;
        margin: 15px;
      }

      .date-group {
        display: flex;
        justify-content: center;
        background-color: #d8bfd8;
        max-width: 50rem;

        article {
          margin: 0.75rem;
          padding: 0.1rem;
          border-radius: 10px;
          text-align: start;

          .date-component-cards {
            padding: 1rem;
            min-width: 280px;
            max-width: 150px;
            
            img {
              max-width: 10rem;
              min-height: 12rem;
              margin: 10px;
              border-radius: 5px;
            }
          }
        }

        .date-component-info {
          margin: 15px 5px;
          margin-bottom: 0px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .dashboard {
      max-width: 90%;
      margin-top: 80px;
      

      .tabs {
        width: 90dvw;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .list {
        height: 50px;
        max-width: 70dvw;
      }

      .panel {
        max-width: 70dvw;
        padding-bottom: 50px;
        display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

        h2.date-title {
          color: white;
          font-weight: bold;
          font-size: 25px;
          margin: 10px;
        }

        h4.date-title {
          color: white;
          font-size: 15px;
          margin: 15px;
        }

        .date-group {
          border: 1px solid beige;
          border-radius: 20px;
          min-width: 65vw;

          article {
            margin: 0.75rem;
            padding: 0.1rem;
            border-radius: 10px;

            .date-component-cards {
              padding: 1rem;
              min-width: 280px;
              max-width: 150px;

              img {
                margin: 0 auto;
                max-width: 130px;
                min-height: 12rem;
              }
            }
          }

          .divider {
            background: #662d91;
            opacity: 75%;
            width: 2px;
            font-weight: bolder;
            margin: 40px 20px;
            border-radius: 20px;
          }

          .date-component-info {
            margin: 10px 5px;
          }

          .date-component-buttons {
            align-self: center;

            .btn-dashboard {
              margin: 5px;
            }
          }
        }
      }
    }
  }
}
