.create-date .featured {
  padding-top: 4.25rem;
}
.landing-page .featured {
    padding-bottom: 4rem;
}
.featured {
  justify-content: center;
  background-color: #e2d1e6;
  background-image: url("../assets/wild-flowers.png");
  .feature-title {
    text-align: center;
    padding: 0.5rem;

    h2 {
      font-family: "Quicksand", sans-serif;
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0;
      letter-spacing: 0.25rem;
      text-transform: uppercase;
    }
  }

  .feature-carousel {
    color: #6a3771;
    padding-bottom: 1.75rem;
    padding-top: 0.5rem;
    
    .cards {
        display: flex;
        overflow-x: auto;

      .feature-card {
        margin: 0.5rem;
        min-width: 220px;
        min-height: 200px;

        .feature-desktop {
          display: none;
        }
        img {
          max-width: 60%;
          height: 90%;
          border-radius: 10px;
          margin: 10px auto;
        }
      }
    }
  }
}

@media (min-width: 768px) {
.landing-page .featured {
    // height: 50dvh;
    margin-bottom: 0;
    padding-bottom: 4rem;
}

  .featured {
    justify-content: center;

    .feature-title {
      text-align: center;
      padding: 0.25rem;
      padding-bottom: 0;
      color: #6a3771;

      h2 {
        font-family: "Quicksand", sans-serif;
        font-size: 1.15rem;
        font-weight: 500;
        margin: 0;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
      }
    }
    .feature-carousel {
      width: 80vw;
      min-height: auto;
      margin: 0 auto;

      .cards {
        display: flex;
        justify-content: center;
        overflow-x: auto;

        .feature-card {
          margin: 0.75rem;
          padding: 0.5rem;
          width: 14rem;
          height: 20rem;

          .feature-mobile {
            display: none;
          }
          .feature-desktop {
            display: contents;
          }

          img {
            max-width: 90%;
            height: 90%;
            border-radius: 10px;
            margin: 10px auto;
          }
        }
      }
    }
  }
}
