.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 9rem;
  height: auto;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  background-color: #662d91;
  color: #d8bfd8;
  letter-spacing: 0.5px;
  align-items: first baseline;
  .row-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    .footer-title {
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: 0.2rem;
      text-transform: uppercase;
      text-wrap: nowrap;
    }
    .footer-icons {
      display: flex;
      justify-content: center;
      svg {
        margin: 0.25rem;
        padding: 0;
        width: 1.25rem;
        height: 1.25rem;
        color: #d8bfd8;
      }
    }
    .footer-socials {
      max-width: 40%;
      width: auto;
    }
    .footer-navigation {
      display: none;
    }
    .footer-contact {
      width: auto;
      max-width: 40%;
      text-wrap: nowrap;
      padding: 0;
      text-align: center;
    }
  }
  .copyright {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .footer-container {
    position: absolute;
    bottom: 0;
    background-color: #662d91;
    color: #d8bfd8;
    padding: 0.2rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
    width: 100%;
    max-height: 8rem;
    height: auto;
    letter-spacing: 0.5px;
    align-items: first baseline;
    text-align: center;
    .row-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: 0;
      .footer-title {
        font-size: 1.1rem;
        font-weight: 500;
        display: column;
        text-transform: uppercase;
        text-wrap: nowrap;
      }
      .footer-icons {
        display: flex;
        justify-content: center;
        svg {
          margin: 0.25rem;
          width: 1.25rem;
          height: 1.25rem;
          color: #d8bfd8;
        }
      }
      .footer-socials {
        max-width: 20%;
        width: auto;
        padding: 0.75rem;
      }
      .footer-navigation {
        display: flex;
        justify-content: space-evenly;
        a {
          padding: 0.5rem;
          padding-bottom: 0;
          text-decoration: none;
          color: #d8bfd8;
        }
        a:hover {
          text-decoration: overline;
          color: #d8bfd8;
        }
      }
      .footer-contact {
        max-width: 20%;
        width: auto;
        text-wrap: nowrap;
      }
    }
  }
}
