.landing-page {
  max-width: 100vw;
  // max-height: 100vh;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  //   overflow: scroll;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background-hero-skyline-couple.jpeg");
  background-position: 30% -30%;
  background-size: 242vw 80vh;

  .btn {
    background-color: #9a5997;
    font-family: "Quicksand", sans-serif;

    border: none;
    margin: 15px;
    color: #e1cce6;
  }

  .btn:hover {
    background-color: #e1cce6;
    color: #6a3771;
  }

  .hero {
    width: 100vw;
    height: 55vh;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-inner {
      color: #e2d1e6;
      position: relative;
      top: -15%;
      h1 {
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        margin: 0;
        padding: 0;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        padding: 0;
      }
    }
  }

  .buttons {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .landing-page {
    padding: 0;
    font-family: "Quicksand", sans-serif;
    // overflow: scroll;
    background-image: none;

    .btn {
      border: none;
      margin: 15px;
    }

    .hero {
      width: 100vw;
      height: 50dvh;
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/background-hero-skyline-couple.jpeg");
      background-size: cover;
      background-position: 50% 80%;

      .hero-inner {
        position: relative;
        top: 0%;
        h1 {
          font-size: 2.75rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
          margin: 0;
          padding: 0;
        }
        h3 {
          font-size: 1.5rem;
          font-weight: 500;
          margin: 0;
          padding: 0;
        }
      }
    }

    .buttons {
      margin-bottom: 30px;
    }
  }
}
