.content {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: fit-content;

  div.share-date {
    background-color: #e1cce6;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 40px;
    padding-top: 20px;

    .header {
      margin: 10px;
    }

    .date-components {
      .date-group {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin: 0 auto;
        min-width: 65vw;

        article {
          margin: 0.75rem;
          padding: 0.1rem;
          border-radius: 10px;
        }

        .date-component-cards {
          margin: 0 auto;
          padding: 0;
          min-width: 280px;
          max-width: 150px;

          .date-component-title {
            font-size: 0.9rem;
            font-weight: 600;
            margin: 0;
            padding: 0;
          }

          img {
            margin: 0.25rem auto;
            max-width: 9rem;
            min-height: 9rem;
            border-radius: 5px;
          }
          .date-component-info {
            margin: 0.15rem auto;
            margin-top: 0;
            padding: 0;
            font-size: 0.85rem;
            font-family: Quicksand, sans-serif;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .content {
    height: 100vh;

    div.share-date {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #e1cce6;
      border: 1px solid beige;
      box-shadow: 10px 11px 15px rgba(145, 138, 138, 0.747);
      margin-top: -200px;
      padding: 40px;
      padding-top: 20px;
      border-radius: 20px;

      .header {
        margin: 10px;
        margin-bottom: 30px;

        h2 {
          margin: 0;
        }
      }
      .date-components {
        .date-group {
          display: flex;
          flex-direction: row;
          justify-content: center;
          position: relative;
          justify-content: space-around;
          //   margin: 0 auto;
          .date-title {
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            margin: auto;
            padding: 1rem;
            padding-left: 4rem;
            align-items: center;
            width: 15%;
          }

          .date-group-components {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0.5rem;
            width: 90%;
          }

          article {
            margin: 0.25rem;
            border-radius: 10px;

            .date-component-cards {
              padding: 0;
              min-width: 280px;
              max-width: 150px;

              .date-component-title {
                font-size: 0.9rem;
                font-weight: 600;
                margin: 0 auto;
                padding: 0;
                text-align: center;
                height: 2rem;
                display: flex;
                align-items: center;
              }
              img {
                margin: 0.25rem auto;
                max-width: 9rem;
                height: 12rem;
                border-radius: 5px;
              }
              .date-component-info {
                margin: 0.15rem auto;
                margin-top: 0;
                padding: 0;
                font-size: 0.85rem;
                font-family: Quicksand, sans-serif;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
