#top-nav {
  // background-color: #662d91;
  background-color: #4B5D67;
  color: #d8bfd8;
  .logo a {
      align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #d8bfd8;
}
.logo-icon {
    height: 2rem;
    padding-right: 0.5rem;
  }
  .logo:hover,
  #create-button:hover {
    filter: drop-shadow(0 0 0.5rem #fff);
  }
  #create-button a {
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    color: #d8bfd8;
    font-weight: 600;
    font-size: 0.9rem;
  }
  .nav-menu {
    justify-content: right;
    padding: 0 1rem;
    font-family: "Quicksand", sans-serif;
    .nav-link {
      font-size: 1rem;
      .css-i4bv87-MuiSvgIcon-root {
        padding-right: 0.5rem;
        vertical-align: middle;
      }
    }
  }
  #profile-icon {
    background-color: #d8bfd8;
    color: #6a3771;
  }
}
