.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f0f0; 
  transition: background-color 0.3s ease; 
  height: 100vh;
  width: 100vw;
}

.page-layout__loading {
  text-align: center;
}

.page-layout__content {
  flex: 1;
  flex-basis: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  margin-top: 8rem;
  max-width: 120rem;
  width: 100%;
}
